<!--thank you for joining-->
<p>&nbsp;</p>
<div style="width: 800px; margin: 20px; font-family: 'Poppins', sans-serif;">
    <div>
        <div style="text-align: center;">
            <h1 style="font-weight: normal; font-size: 22px; margin: 10px 0;">{{platformName}}</h1>
        </div>
        <div style="text-align: left;">
            <p style="color: #504f56; margin: 50px 0 60px 0; font-size: 20px; font-weight: normal;">Dear <span style="color: #c8374a;">{{first_name}} {{last_name}}</span>, <br /> <br />Please find OTP for password reset {{otp}}.</p>
        </div>
        <!--footer end--></div>
</div>
